
<div id="pagebody">
<h1> PIBLOGINTHESKY </h1>
</div>

<!-- <p><a href= "/posts/pi-in-tech">Pi_intech</a></p>
<p><a href= "/posts/pi-in-sinatra">Pi_insinatra</a></p>

 -->

<!-- <h1><%= @post %></h1>
<ul>
  <% @post.each do |post| %>
    <li><%= @title %></li>
  <% end %>
</ul> -->
