<% require "./lib/posts.rb" %>


<h1><font size="7"> CHONGA </font></h1>
<h3>Recent posts</h3>

<p><a href= "/posts/pi-in-tech">Pi_intech</a></p>
<p><a href= "/posts/pi-in-sinatra">Pi_insinatra</a></p>
