<!DOCTYPE html>
<html>
  <head>
      <title>Pi Page</title>
      <link rel = "stylesheet" href="/style.css" />

  </head>
  <body>
    <div class=top></div>
    <div class=bottom></div>
    <div class=left></div>
    <div class=right></div>

    <div class="header">
      <div style="text-align: center;"><img src = "/chonga.jpg" height = "410"  style="margin-top:20px"></div>
      <p></p>
      <div id="links">
        <a href= "/">Home</a> /
        <a href= "/about-me">About</a> /
        <a href= "/posts">Posts</a>
      </div>
    </div>
    <%= yield %>
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
