<!-- <!DOCTYPE html>
<html> -->
<head>
    <title>Pi Page</title>
    <link rel = "stylesheet" href="/style.css" />
    <script src="/app.js"></script>
</head>

<p><img src = "chonga.jpg" height = "400" width "2000" ></p>
<a href= "/">Home</a>
<a href= "/about-me">About</a>

<hr>

<%= yield %>

<hr>
