<!DOCTYPE html>
<html>
<head>
    <title>Pi Page</title>
    <link rel = "stylesheet" href="/style.css" type =text/css />



<a href= "/">Home</a>
<a href= "/about-me">About</a>
<a href= "/posts">Posts</a>
this is the header
<hr>

<%= yield %>

<hr>
this is the footer
