

<div id="pagebody">

  <h1>POSTS bnanannana</h1>



<% @post.each do |post| %>
  <li><a href="<%= post.url %>"> <%=post.title.upcase.gsub("-"," ").gsub("_"," ") %></a></li>

<% end %>


</div>
<!--

<h1><%= @post %></h1>
<ul>
 <% @post.each do |post| %>
  <li><%= @title %></li>
  <% end %>
</ul> -->
