
html {
	margin: 0;
	padding: 0;
	}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0px;
    padding: 0;


}

#header {

		background-color: white;
		font-family: futura;
		font-size: 2.5em;
		color: white;
		margin: 0;
		padding: 0px;
		font-weight: bolder;
		text-align: center;
		letter-spacing: 0em;
		/*border-bottom-style: solid;
		border-bottom-width: 5em;
		border-bottom-color: #000;*/

}

#header a {
	color: white;
}

#header img{
	border-style: solid;
	border-width: 0px;
	border-color: #fff

}

#bottom {
	background-color: #DE0244;
	position:fixed;
	bottom: 0;
	height: 15px;
	width: 100%;
	color: #DE0244;
}
#top {
	background-color: #DE0244;
	position:fixed;
	top: 0;
	height: 15px;
	width: 100%;
	color: #DE0244;
}
#left {
	background-color: #DE0244;
	position:fixed;
	left: 0;
	height: 100%;
	width: 15px;
	color: #DE0244;
}
#right {
	background-color: #DE0244;
	position:fixed;
	right: 0;
	height: 100%;
	width: 15px;
	color: #DE0244;
}


#links {
	background-color: #000;



}

#header h1 {
	font-family: futura;
	color: #000;
	font-size: 3.6em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	font-style: bold;
	text-align: center;

}

#pagebody {
	font-family: rockwell;
	font-size: 14px;
	color: black;
	margin: 10px;
	padding: 10;

}

#pagebody h1 {
	font-family: futura;
	color: #000;
	font-size: 3.6em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	font-style: bold;
	text-align: center;

}


/*footer{
    background-color: #DE0244;
}*/

p {
    line-height: 21px;

}
/*
h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}*/

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    font-family: futura;
		color: #000;
		font-size: 1.5em;
		margin: 0;
		margin-bottom: 7px;
		padding: 4px;
		font-style: italic;
}

img {

    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

a:visited {
	text-decoration: none
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}
