
<div class="postbody">

  <h3> A RESOURCE FOR ALLIES </h3>


  <p>In an effort to help those who want to be allies, and  also in an effort to be a better ally myself, I picked up   this <a   href="http://www.scn.org/friends/ally.html">guide</a> by  Frances E. Kendall. Being an ally isn't just for people   with <em>white</em> privilege, but rather for privileged  people. There are situations in which, someone like me, a   Cuban-American woman, has a lot of privilege. One of  several examples is the current immigration policy which  does not affect the Cuban community the way that it affects   Guatemala, for instance. Cuban immigrants are given   automatic citizenship and refugee status as soon as their   feet touch US soil. Because of this, I cannot directly  relate to the experience of DREAMers, migrant workers, or   families separated by the current policy. That means that   in circles with Latinxs whose birth countries are affected  by current policy (most), I have to subscribe to Kendall's  guide, too. I can support immigration reform, I can work to   support organizations that help and bring change to the   cause, but I can't take leadership roles or dominate  conversations about the matter.Most importantly, I steer  clear of showboating my personal emotions on the matter.  It's more important that I focus my efforts on actual   change rather than lament. Kendall's guide makes it a point   to highlight the following statement, "This is NOT about  rescuing or grandstanding, making a show of our support so  that we will look good or progressive or liberal."</p>

  <p>So what's it all about? If you want to be a good ally,   it's about listening to the voices of the oppressed groups  and taking action <em>with</em> them.</p>
  <p>It's also important that we ALL keep our privilege in  check at all times. Let that become second nature, and  practice the art of listening to other people's   struggles.</p>
</div>
