
<div id="postbody">

<h3>BECAUSE I CAN</h3>
<p>A few weeks ago, I went to a party at a good friend's house. She made some delicious koshari for us. I have a soft spot for good food, and in the excitement I proclaimed, "This is <span style="text-decoration: underline;"><strong>fucking</strong></span> great!"</p>

<p>The large white man next to me leaned over, in what I can only describe as a fatherly way, and attempted to whisper something along the lines of, "Oh no, don't say that. It'd be much nicer if you just said it was a wonderful meal." My immediate response to that kind of patronizing behavior is to reciprocate his expectations of what a young woman should speak like with the exact opposite: "Is there a <span style="text-decoration: underline;"><strong>fucking</strong></span> problem with the way I <span style="text-decoration: underline;"><strong>fucking</strong></span> expressed myself?"</p>

<p>Some awkward laughs were had, and in the distance someone else (who happened to have a penis) agreed that indeed it was "<span style="text-decoration: underline;"><strong>fucking</strong></span> delicious."</p>

<p>One thing is very clear to me: If a man uses that kind of language, it goes unseen. No one puts their fork down, there's no need to have a conversation about language policing, and dinner proceeds without a hitch.</p>

<p>Why <em>do</em> we police women's language? Educated men, even so far as the POTUS past and present, are often "caught" using expletives. POLITICO even makes <span style="text-decoration: underline;"><strong>fucking</strong></span> <a href="http://www.politico.com/click/stories/1006/great_swears_in_history.html">listicles</a> out of the <span style="text-decoration: underline;"><strong>damned</strong></span> thing. If the POTUS can curse on the Senate floor, why is my language being policed at a party?</p>

<p>As an educated young woman of color my language is under incredible scrutiny. Am I enunciating enough? Did I use too much "Miami" slang? These questions stem from a fear that I won't "pass" as educated, despite years of formal and informal education.</p>

<p>Historically, language has been used as a tool to divide and unite peoples. It's been used to draw lines of class where other factors like race cannot be used. And if you happen to be a person of color, both language and race are used to promote your segregation.</p>

<p>If you happen to also be a woman, then the demand to "whiten" your language is even stronger. At the risk of not being perceived as the "other", we police our own language at work and school. However, I'll be <span style="text-decoration: underline;"><strong>damned</strong></span> if I have to worry about what I say in a social setting.</p>

<p>In fact, by using language that is not expected of an educated woman of color, I am breaking down the constructed image of what an educated WOC is <em>supposed</em> to act like.</p>

<p>So next time you see me at a party, don't <strong><span style="text-decoration: underline;">fucking</span></strong> tell me what to say, <span style="text-decoration: underline;"><strong>asshole</strong></span>.</p>

</div>
