
<div class="postbody">

<h3>Programming Is For You</h3>

<p> It’s not just for geniuses. It’s not just for pubescent boys sneaking pics of princess Leia from their dad’s star ward collection.</p>

<p> Programming is FOR the people. All of the people. In an industry largely dominated by the white upper classes, it’s difficult to feel like programming IS for the people. </p>

<p> The numbers of PoC [people of color] who use the internet are statistically close to the number of white people who use the internet, despite PoC having less access to home broadband. In fact, black and hispanic/latinx populations actually outrank whites when it comes to cellphone ownership and use. </p>

<p> PoC are using technology just as much as, and in some cases more than, the white population. So why are we disproportionately underrepresented in a field that makes so much money off of us? </p>

<p> Educational opportunities are an obvious cause. We make less money, we go to worse schools, often schools whose tight budgets don’t allow for technological instruction. In our homes, we are less likely to own a desktop or laptop computer. These early childhood disadvantages contribute to the career choices we make in our future. </p>

<p> But there are more insidious obstacles at hand. Without mentors and role models to show us what we’re capable of, we are often convinced that computers, technology, and the sciences at large are simply something we just can’t do.  </p>

<p> One of the biggest challenges we need to overcome in order to succeed in a field that routinely excludes us is to believe that we can, and to actively seek out mentorship and help.  </p>


</div>
